<!DOCTYPE html>
<html>
  <head>
    <title>Rubyblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-danger is-bold" style="background-image: url('https://i.imgur.com/7DZWjcj.png')">
    <div class="hero-head">
    <nav class="container">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to 'Demo Blog', root_path, class: "navbar-item" %>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to "Create New Post", new_post_path, class: "navbar-item" %>
          </div>
        </div>
      </div>
    </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="color: red; font-weight: bold; font-size: 30px; margin-left: 90px;">
          <%= yield :page_title %>
        </h1>
      </div>
    </div>
  </section>
    <%= yield %>
  </body>
</html>
